table {
      min-width: 400px;
      max-width: 800px;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 95%;
      margin: auto;
      margin-top: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 30px;
}

td,
th {
      min-width: 170px;
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
}

th{
      background-color: white;
}

tr:nth-child(odd) {
      background-color: #ededed; /*dddddd*/
}
tr:nth-child(even) {
      background-color: #f7f7f7;
}
.upper {
      overflow: auto;
      padding: 15px;
      transition: opacity 0.3s;
      min-height: 500px;
}

/* .record{
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
      margin-top: 5px;
      padding: 15px;
      border-radius: 10px;
} */

/* width */
::-webkit-scrollbar {
      width: 1px;
      height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
      background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
      background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
      background: #555;
}


.tType{
      width: 20px;
      height: 30px;
      margin-right: 5px;
}

.tState{
      width: 30px;
      height: 30px;
      margin-right: 5px;
}

.delete{
      min-width: 10px;

}

.dImg{
      width: 40px;
}

.dImg:hover{
      box-shadow: 1px 1px 1px 1px red, 0 0px 0px 0 red;
}


.dB{
      border: none;
      outline: none;
      background-color: transparent;
}
.ename{
      min-width: 400px;
}

.titleheader {
      padding-top: 15px;
      margin-top: 5px;
      text-align: center;
      text-decoration: underline;
}

.editText {
      width: 25%;
      display: inline-block;
      margin-left: 74px;
      min-width: 230px;
      margin-bottom: -15px;
      margin-right: 5px;
}
.editdate{
      margin-left: 75px;
      max-width: 600px;
}

.containerHistory{
      background-color: #f9f8fa;
}
.filter{
      display: none;
      margin-bottom: -30px;
}

@keyframes Show {
      0%{
            opacity: 0;
            max-height:30px ;
      }
      25%{
            max-height: 0px;
      }
      100%{
            opacity: 1;
            max-height: 300px;
      }
}
@keyframes Hide {
      0%{
            opacity: 1;
            max-height: 300px;
      }
      100%{
            opacity: 0;
            max-height: 30px;
      }
}

.PFR{
      position: relative;
      left: 49%;
      margin-top: 30px;
      transform: translate(-50%, -50%);
}

.fName{
      min-width: 300px;
}
.mNote{
      min-width: 300px;
}
.evType{
      min-width: 250px;
}
.mDate {
      min-width: 230px;
}