.mr{
  margin-left: auto;
  margin-right: 6%;
}

.ml {
  margin-left: 6%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(149, 128, 128);
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 26px;
  background-color: white;
}

.wrap{
  width: 90%;
  margin-left: 5%;
}

/* Full-width input fields */
input[type=email], input[type=password], input[type=text], input[type=number]{
  width: 100%;
  min-width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid rgb(73, 61, 61);
}
input[type=date], select{
  width: 40%;
  min-width: 40%;
  padding: 10px;
  margin: 5px 0 22px 20px;
  display: inline-block;
  border: none;
  background: #ffffff;
  border-radius: 5px;
  border-bottom: 2px solid rgb(73, 61, 61);
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=number]:focus {
  background-color: rgb(239, 234, 234);
  outline: none;
  border-bottom: 3px solid rgb(33, 26, 26);
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.btn-login{
  outline: none;
  background-color:rgb(50, 28, 28);
}


.login {
  color: white;
  background:#136a8a;
  background: 
    -webkit-linear-gradient(to right, #267871, #136a8a);
  background: 
    linear-gradient(to right, #3bb1a7, #136a8a);
  margin: auto;
  box-shadow: 
    0px 2px 10px rgba(0,0,0,0.2), 
    0px 10px 20px rgba(0,0,0,0.3), 
    0px 30px 60px 1px rgba(0,0,0,0.5);
  border-radius: 8px;
  padding: 50px;
}
.login .head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .head .company {
  font-size: 2.2em;
}
.login .msg {
  text-align: center;
}
.login .form input[type=email].email {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
}
.login .form .text::placeholder {
  color: #D3D3D3;
}
.login .form input[type=password].password {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login .form .password::placeholder {
  color: #D3D3D3;
}
.login .form .btn-login {
  /* background: none; */
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
}
.login .form .btn-login:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
}
.login .forgot {
  text-decoration: none;
  color: white;
  float: right;
}
footer {
  position: absolute;
  color: #136a8a;
  bottom: 10px;
  padding-left: 20px;
}
footer p {
  display: inline;
}
footer a {
  color: green;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .heart {
  color: #B22222;
  font-size: 1.5em
}


@keyframes neel {
  0%{
    margin-top: 40px;
  }
  50%{
    margin-top: 50px;
  }
  100%{
    margin-top: 40px;
  }
}


.mla{
  width: 95%;
  margin-top: 40px;
  /* animation: neel 2.5s infinite ; */
  max-width: 600px;
}
 

.test {
  overflow: auto;
  width: 100%;
  height: 100px;
}

.main{
  text-align: center;
}

.box{
  max-width: 800px;
  width: 95%;
  display: inline-block;
  min-height: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.box1{
  background-color: #ecf1fe;
  overflow: auto;
  height: 63vh;
  border-radius: 33px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.item{
  width: 140px;
  margin-left: 5.1%;
  border-left: 2px solid rgb(232, 228, 228);
  padding-left: 10px;
}
.g{
  height: 200px;
  width: 750px;
  margin: 0px auto;
}

.logo{
  width: 100px;
  height: 60px;
}

.userIcon{
  width: 30px;
  height: 25px;
}

.suggestion{
  margin-top: 20px;
  margin-bottom: -20px;
  color: white;
  text-align: left;
  display: block;
 
}
.suggestion:hover{
  color:yellow
}

.red{
  color: red;
  font-size: 40px;
}
.blue{
  color: blue;
  font-size: 40px;
}
.demored{
  color: red;
  font-size: 25px;
  text-align: left;
  margin-bottom: -16px;
  margin-top: -20px;
}
.demoblue{
  color: blue;
  font-size: 25px;
  text-align: left;
  margin-bottom: -10px;
  margin-top: -20px;
}

.f{
  margin-right: 20px;
}
.s{
  margin-left: 20px;
}


.TA{
  width: 100%;
  height: 100px;
}